<main>
    <mat-toolbar color="primary"><span>Hms - Chat</span></mat-toolbar>

    <div class="messages" #messagesDiv>
        <mat-card *ngFor="let message of messages; let i = index">
            <mat-card-subtitle>{{ messages[i].sender }}</mat-card-subtitle>
            {{ messages[i].content }}
        </mat-card>
    </div>

    <form (submit)="sendMessage()" autocomplete="off" fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="form">
                <input matInput type="text" value="" placeholder="Say something." id="messageInput">
                <button mat-icon-button color="primary" type="submit">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </mat-form-field>
    </form>
</main>
